.editor-progress {
    background: #f1f1f1;
    margin-top: 40px;
    border-radius: 2px;
    border: 1px solid #e6e6e6;
}


.progress-bar {
    height: 10px;
    position: relative;
    transition: width .4s ease;
}

.progress-bar:before {
    content: "";
    display: block;
    background-color: #b0ceb0;
    height: 100%;
}